*{
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 95vw;
  height: 60vh;
}

.container{
  display: grid;
  justify-items: center;
}

textarea{
  width: 40vw;
  height: 20vh;
  margin: 5vh 0;
}

img{
  max-width: 50%;
}
.border{
  width: 50%;
  margin-bottom: 5vh;
}
p:last-of-type{
  text-align: center;
}